target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.idea/
.project
.classpath
.settings
**/target
**/.settings
**/src/generated
chronos-server/chronos-server.iml
chronos.iml
chronos-client/chronos-client.iml
chronos-server/dependency-reduced-pom.xml
chronos-client/dependency-reduced-pom.xml
